/*
	wow.css
	Window on the World Web Client
*/

body {
	font-style: tohoma, Arial,sans-serif 8pt;
	background-color: #EEEEEE;
}
table.one{
	float:left;
}

table.sum{
	width:100%;
	margin-bottom:10px;
}

table{
  margin:1px;
  background-color: white;
  border-collapse: collapse;
  border: 1px solid;
  border-color: #000000;
  width:23%;
}
td {
  border-color: #000000;
}

th{
   background-color: #B5CFE0;
   border-color: #000000;
}